.btn{
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 2px;
    padding: 0.6rem;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: darkcyan;
    position: relative;
}

.bx{
    font-size: 1.1rem;
}

.show{
    position: absolute;
    width: 250px;
    box-shadow: darkcyan;
    background-color: transparent;
    border-radius: 50%;
    text-align: center;
    opacity: 0;
    transform: translateX(0.5rem);
    visibility: hidden;
    transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.show a{
    display: flex;
    align-items: center;
    column-gap: 2px;
    padding: 0.8rem 1rem;
    text-decoration: none;
    color: black;
}

.btn a:hover{
    background-color: lightslategrey;
    color: white;
    visibility: visible;
    opacity: 1;
    transform: translateY(0.5rem);
}
#show{
    visibility: visible;
    opacity: 1;
    transform: translateY(0.5rem);
}
.btx{
    transform: rotateX(180deg);
    transition: 0.3 ease;
}